.pagination {
    display: inline-block;
    padding-left: 0;
    /* margin: 20px 0; */
    border-radius: 4px;
}

.SelectPaginacion{
    /*float: left;
    margin-top: 23px;*/
/*    margin-right: 17px;*/
}
